   
    body{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: auto 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #13C4A3;
      }
    
.header{
    background: #BA0606;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem ;
    z-index: 12;

    margin-right: -24px;
    
}

.header .nav .logo{
    width: 50%;
    cursor: pointer;
  font-size: 3rem;
  text-decoration: none;
font-weight: bold;
}
.header .nav .main-menu{
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    align-items: flex-end;
    /* margin-right: -24px; */
    
  
}

.header .main-menu ul{
    list-style: none;
    display: flex;
    
}

.main-menu ul li a{
    color: FFF9EB;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
}
.main-menu ul li a:active {
      color:#FFF9EB;
    }
    .main-menu ul li a:hover {
      color: #FFF9EB;
    }
    
.main-part{
    height: 100%;
    width:100%;
}

.welcome_section{
/* position: absolute; */
width: 1440px;
height: 890px;
background-image: url(../images/developer.jpg);
background: linear-gradient(0deg, rgba(36, 14, 14, 0.56), rgba(36, 14, 14, 0.56));
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
}
.header-text{

}

footer {
    background-color: #152036;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
    padding: 25px 0px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

footer p a,
footer p a:hover {
    color: #f5a425;
}
